@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Raleway:wght@200;300;400;500;600;700;800;900&family=Source+Code+Pro:wght@500&family=Source+Sans+Pro:wght@200&display=swap');

@layer base {
    body {
        @apply font-[Raleway];
        @apply bg-[#fef9ef];
        @apply text-slate-700
    }
    li {
        @apply px-4;
        @apply cursor-pointer;
        @apply text-slate-700
    }
}
/* Navbar */
.navList {
    display: flex;
    justify-content: flex-end;
}

.name{
font-family: 'Abril Fatface', cursive;
}

/* Email on the right side */
.rotate {
    position: absolute;
    font-size: 20px;
    margin: 100;
    writing-mode: vertical-rl;
    text-align: center;
    line-height: .9;
    margin-left: 3%;
    margin-top: 8%;
  }

  .line {
    display: inline-block;
    border-left: 1px solid #ccc;
    margin: 0 5px;
    height: 230px;
  }